@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Signika+Negative:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* gallery */
.container {
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 620px;
  overflow: hidden;
  justify-content: center;
}

.primary-container {
  height: 620px;
  min-width: 800px;
  border-radius: 1rem;
  position: relative;
}

.primary-product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  height: 620px;
  z-index: 1;
}

.related-product-image {
  border-radius: 10px;
  margin: 5px;
}

.product-gallery .related-product-image {
  max-height: 220px;
  object-fit: cover;
  cursor: pointer;
}

.product-gallery .related-product-image:first-child {
  margin-top: 0;
}

/* transition for loader */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out forwards;
}

/* transition underline for navbar */
.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 25;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.5s ease-in-out;
}

.animated-underline.active::after {
  width: 100%;
}
